# Dependências
node_modules/
.venv/
venv/

# Arquivos de build
static/css/style.css
*.min.js
*.min.css

# Arquivos do Django
*.pyc
__pycache__/
*.sqlite3
db.sqlite3

# Arquivos de sistema
.DS_Store
*.log

# Migrações do Django
*/migrations/*.py
!*/migrations/__init__.py

# Arquivos de configuração
*.json
*.lock